*{
    background-color: #F5EFE6;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}

th, td {
  padding: 15px;
  border: 2px solid black;
  background-color:lightgray;
}

#table{
  /* border-collapse: collapse; */
  /* width: 100vw; */
  background-color: lightgrey;
  /* text-align: center; */
}
table{
  border-collapse: collapse;
  width: 100vw;
  background-color: lightgrey;
  text-align: center;
}

#name{
    /* padding-top: 30px; */
    width: 100px;
    display: flex;
    /* padding-left: 620px; */
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgb(245, 172, 190);
   

}
.name1{
     position: relative;
    bottom: 30px ;
    display: inline-block;
    margin-left: 37vw;
  }

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    top: 12px ;
    left: 20px ;
    display: inline-block;
    /* gap: 500px; */
}
img{
    border-radius:50px;
    box-shadow: 5px 5px 5px rgb(200, 145, 145);
    margin-right:10px ;
    margin-bottom:10px ;
}